#VARIABLES FOR LOCAL DEVELOPMENT
DB_HOST=localhost
REDIS_URL=redis://localhost:6379


#VARIABLES WHEN BUILDING DOCKER IMAGES
DB_HOST=postgres
REDIS_URL=redis://redis:6379

DB_PORT=5432
DB_USER="myuser"
DB_PASSWORD="pass123"
DB_NAME="song_db"
FALLBACK_LANGUAGE="es"